# This is a TOML 0.4.0 file, as specified by https://github.com/toml-lang/toml.

# Uncomment this line to serve only to localhost clients, e.g. for testing, by
# binding on the loopback interface.
# LocalOnly = true

# This is the URL prefix under which the packager is being served on the open
# internet. This is used to generate certUrls, by appending
# "/amppkg/cert/blahblahblah". (In the future, it may have other uses.) This is
# NOT the URL where the packager responds, which will instead be anchored to
# the root path.
#
# For instance, if PackagerBase = "https://example.com/", then the frontend
# server should reverse-proxy all URLs matching:
#   https://example.com/amppkg/(.*)
# to the packager.
#
# Alternatively, if PackagerBase = "https://example.com/packager/", then the
# frontend server should reverse-proxy all URLs matching:
#   https://example.com/packager/amppkg/(.*)
# to the packager, removing the "/packager" prefix from the path.
#
# The frontend MUST NOT forward any requests for /amppkg-priv/.* to the
# packager. Doing so would allow users to sign the wrong URL on documents. (See
# URLSet below for some mitigation of this.)
PackagerBase = 'https://example.com/'

# The path to the PEM file containing the full certificate chain, ordered from
# leaf to root. This will be served at /amppkg/cert/blahblahblah, where
# "blahblahblah" is a stable unique identifier for the cert (currently, its
# base64-encoded SHA-256).
#
# This certificate must be 2048-bit RSA using the SHA-256 signing algorithm.
# (See https://goo.gl/pwK9EJ item 4.1.5.)
#
# To mitigate the risk of an attacker gaining access to your private key
# through a vulnerability in this packager, you should generate a new
# certificate/key pair for the domain(s) you wish to sign packages with. This
# allows you to revoke that certificate without affecting your normal
# web-serving traffic.
CertFile = './pems/cert.pem'

# The path to the PEM file containing the private key that corresponds to the
# leaf certificate in CertFile.
KeyFile = './pems/privkey.pem'

# This is a simple level of validation, to guard against accidental
# misconfiguration of the reverse proxy that sits in front of the packager.
#
# You must specify at least one URLSet; you may specify multiple. Each one must
# specify a Sign pattern and may specify a Fetch pattern. When the packager
# receives a request for a package, it will first validate that the requested
# fetch/sign URL pair matches at least one of the given URLSets.
[[URLSet]]
  # What URLs are allowed to show up in the browser's URL bar, when served from
  # the AMP Cache. By default, the URL that the frontend requests to sign is
  # also the URL where the packager fetches it. For extra flexibility, see
  # URLSet.Fetch below.
  [URLSet.Sign]
    # The scheme of the URL must be https. There is no way to configure this.
    # The `user:pass@` portion is disallowed. There is no way to configure this.

    # The domain to limit signed URLs to. An exact string match. The
    # certificate must cover this domain.
    Domain = "example.com"

    # A full-match regexp on the path (not including the ?query).
    # Defaults to ".*". The below example allows paths starting with /world/.
    # PathRE = "/world/.*"

    # A list of full-match regexps, carving out exclusions to the above PathRE.
    # Examples of paths you might want to exclude:
    #   * Personalized content, such as user settings pages. Signed exchanges
    #     are cached globally and served to all users. (Personalization that
    #     happens at runtime via JS is fine.) This provides defense-in-depth,
    #     in addition to the Cache-Control: public check.
    #   * User-generated content, such as forums. For instance, if there's a
    #     chance of an XSS vulnerability in your templating library, the impact
    #     of such event is higher here: even after you've fixed the bug, caches
    #     may serve your signed packages for up to 7 days.
    PathExcludeRE = []

    # A full-match regexp on the query portion of the URL, excluding the initial
    # "?". Defaults to ".*". The below example disallows non-empty query strings
    # (though a single "?" is allowed).
    # QueryRE = ""

    # The fragment portion of the URL (i.e. the '#' and everything after) must
    # be empty. There is no way to configure this.

    # By default, stateful headers (such as Set-Cookie and WWW-Authenticate)
    # are stripped from the response before packaging. If instead you wish for
    # this to cause packaging to fail, set ErrorOnStatefulHeaders = true.
    # ErrorOnStatefulHeaders = true

  # By default, the packager only looks at the sign param, and fetches the
  # content from the same location. If you'd like more flexibility (for
  # instance, to fetch content from an edge node), uncomment this section. This
  # allows the frontend to specify an additional `fetch` query parameter.
  #
  # Note that this reduces the defense-in-depth against the "signing oracle"
  # attack. If an attacker can request custom URLs from the packager (or
  # convince a frontend server to do so), it could convince the packager to
  # fetch page A and sign it as page B. If enabling this, make sure there is no
  # unauthorized access to the packager.
  # [URLSet.Fetch]
  # # The set of allowed schemes to fetch from is ["https"] by default, but may
  # # be ["http"] or ["http", "https"].
  # Scheme = ["http"]
  #
  # # By default, the packager enforces that the path and query are the same
  # # between the fetch and sign URLs (e.g. respond in error if
  # # fetch=http%3A%2F%2Ffoo%2Fbar.html and
  # # sign=https%3A%2F%2Fbaz%2Fnot-bar.html). Change SamePath to false if this
  # # requirement is too stringent.
  # SamePath = false
  #
  # # A full-match regexp on the domain allowed. Only one of DomainRE and
  # # Domain may be specified. Exercise caution; test the regexp thoroughly.
  # # For instance, a DomainRE of "www.example.com" would allow fetches from
  # # www-example.com.
  # DomainRE = "www\\.corp\\d+\\.example\\.com"
  #
  # # All other fields behave the same.
  # Domain = "www.corp.example.com"
  # PathRE = "/world/.*"
  # QueryRE = ""
